<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{resume.name}}</h1>
    <h3>{{resume.email}}</h3>
    <h3>{{resume.phone}}</h3>
    <hr/>
    <br/>
    <p>Summary</p>
    <p>{{resume.summary}}</p>
    <p>Skills</p>
    <p>{{resume.skills}}</p>
    <p>Qualification</p>
    <ul>
    <li>{{resume.degree}}</li>
    <li>{{resume.university}}</li>
    </ul>
</body>
</html>